{% extends "main/base.html" %}
{% block title %}ASSIGNMENTS{% endblock %}

{% block content %}
    <h1>Assignments</h1>

    <hr />

    {% if course_has_asmts %}
        {% for assignment in assignments %}
            {% if assignment.course.id|add:"0" == request.session.current_course_id|add:"0" %}
                <p>Assignment Title: {{assignment.title}}</p>
                <p>Assignment ID: {{assignment.id}}</p>
                <p>Assignment Course ID: {{assignment.course.id}}</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No Assignments.</p>
    {% endif %}

    <hr />
    <h2>Add Assignment</h2>
    <form method="post" action="/assignments/">
        {% csrf_token %}
        <div class="container">
            <div class="row mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Module Title</div>
                    </div>
                    <input type="text" name="title" class="form-control" id="inlineFormInputGroupUsername" placeholder="Shakespearean English" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Maximum Points</div>
                    </div>
                    <input type="number" name="max_grade_pts" class="form-control" id="inlineFormInputGroupUsername" placeholder="10" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Description</div>
                    </div>
                    <textarea class="form-control" name="description" id="validationTextarea" placeholder="You will be required to..." required></textarea>
                </div>
            </div>

            
            <div class="row mb-1">
                <button type="submit" name="addAssignment" value="asmt" class="btn btn-success">Add</button>
            </div>
        </div>
    </form>
{% endblock %}