{% extends "main/base.html" %}
{% block title %}Mugua - Courses{% endblock %}

{% block content %}
<h1>Courses</h1>

{% if not teacherscourse.all %}
<p>No courses yet.</p>
{% else %}
    {% for course in teacherscourse.all %}
        <form method="POST" action="#">{% csrf_token %}<button type="submit" name="changeCurrentCourse" value="{{course.title}}">{{course.title}}</button></form><br />
    {% endfor %}
{% endif %}

<hr />

CURRENT COURSE:
{{ request.session.current_course }}

<hr />

<form method="post" action="#">
    {% csrf_token %}
    <div class="container">
        <div class="row mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Course Title</div>
                </div>
                <input type="text" name="title" class="form-control" id="inlineFormInputGroupUsername" placeholder="Literature 101" required>
            </div>
        </div>
        <div class="row mb-1">
            <button type="submit" name="addCourse" value="addCourse" class="btn btn-success">Add</button>
        </div>
    </div>
</form>

{% endblock %}