{% extends "main/base.html" %}
{% block title %}Mugua - Courses{% endblock %}

{% block content %}
<h1>Courses</h1>

{% if not teacherscourse.all %}
<p>No courses yet.</p>
{% else %}
    <form method="POST" action="#">
        {% csrf_token %}
        <input type="hidden" name="courseId" value="0">
        <button type="submit" name="changeCurrentCourse" value="None">None</button><br /><br />
    </form>
        {% for course in teacherscourse.all %}
            <form method="POST" action="#">
                {% csrf_token %}
                <input type="hidden" name="courseId" value="{{course.id}}">
                <button type="submit" name="changeCurrentCourse" value="{{course.title}}">{{course.title}}</button><br /><br />
            </form>
        {% endfor %}
    </form>
{% endif %}

<hr />

CURRENT COURSE:
{{ request.session.current_course }}<br />
Course ID: {{ request.session.current_course_id}}
<hr />

<form method="post" action="#">
    {% csrf_token %}
    <div class="container">
        <div class="row mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Course Title</div>
                </div>
                <input type="text" name="title" class="form-control" id="inlineFormInputGroupUsername" placeholder="Literature 101" required>
            </div>
        </div>
        <div class="row mb-1">
            <button type="submit" name="addCourse" value="addCourse" class="btn btn-success">Add</button>
        </div>
    </div>
</form>

{% endblock %}