{% extends "main/base.html" %}
{% block title %}Discussion Forum{% endblock %}

{% block content %}

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Discussion Title</th>
        <th scope="col">Creator</th>
        <th scope="col">Date Posted</th>
      </tr>
    </thead>
    <tbody>
    {% for post in discussion %}
        <tr>
            <th scope="row">{{post.id}}</th>
            <td>{{post.title}}</td>
            <td>{{post.author}}</td>
            <td>{{post.post_date}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<hr />

<form method="post" action="#">
    {% csrf_token %}
    <div class="container">
        <div class="row mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Title</div>
                </div>
                <input type="text" name="title" class="form-control" id="inlineFormInputGroupUsername" placeholder="Today's Lesson" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="validationTextarea">Message</label>
            <textarea class="form-control" name="message" id="validationTextarea" placeholder="Required example textarea" required></textarea>
        </div>
        <div class="row mb-1">
            <button type="submit" name="postDiscussion" value="postDiscussion" class="btn btn-success">Post</button>
        </div>
    </div>
</form>

{% endblock %}