{% extends "main/base.html" %}
{% block title %}Create New List{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>Create Page</h3>
        <form method="post" action="/create/" class="form-group">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="submit" name="save" class="btn btn-success">Create New</button>
                </div>
                {{form.name}}
            </div>
        </form>
        <hr />
        {% for td in user.todolist.all %}
            <p><a href="/tdl/{{td.id}}">{{td.name}}</a></p>
        {% endfor %}
    {% else %}
        <p>Login <a href="/login">here</a>.</p>
    {% endif %}
{% endblock %}